{% extends 'base.html' %}

{% block content %}

<div class="container-fluid error-container">
    <div class="row">
        <div class="col-12">

            {% if msg %}

            <h4>{{msg}}</h4>

            {% else %}

            <h4>An unknown error happened!</h4>

            {% endif %}

            <a type="button" href="{{ url_for('index') }}"
                class="btn btn-primary btn--orange btn-inline hvr-float-shadow">Home</a>
            <a type="button" href="{{request.referrer}}"
                class="btn btn-primary btn--orange btn-inline hvr-float-shadow">Go back</a>
        </div>
    </div>
</div>

{% endblock %}