{% extends 'base.html' %}

{% block content %}

<!-- Search section -->
<section class="container-fluid navsearch-container">
    <div class="row">

        {% for recipe in recipes %}

        <div class="col-sm-6 col-lg-4 col-xl-3 card-pos">
            <div class="card">
                <img class="card-img-top" src="{{recipe.img_link}}" alt="Recipe image">

                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a href="{{ url_for('view', db_id=recipe._id, collection='recipes') }}"
                            class="btn btn-link">{{recipe.title}}</a>
                    </h5>

                    <p>Viewed: {{recipe.view_stat}} times</p>
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="col-12">
            <a href="{{ url_for('index') }}" class="btn btn-primary btn--orange btn-gohome">Back to Home</a>
        </div>
    </div>
</section>

{% endblock %}