{% extends 'base.html' %}

{% block content %}

<!-- Navsearch section -->
<section class="container-fluid navsearch-container">
    <div class="row">

        {% for recipe in recipes %}

        <div class="col-sm-6 col-lg-4 col-xl-3 card-pos">
            <div class="card w-100 h-100 hvr-grow-shadow">
                <img class="card-img-top" src="{{recipe.img_link}}" alt="Recipe image">

                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a href="{{ url_for('view', db_id=recipe._id, collection='recipes') }}"
                            class="btn btn-link">{{recipe.title}}</a>
                    </h5>

                    <p>Viewed: {{recipe.view_stat}} times</p>
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="d-none d-sm-inline col-12">
            <a href="{{ url_for('index') }}" class="btn btn-primary btn--orange btn-inline hvr-float-shadow">Home</a>

            <a href="{{request.referrer}}" class="btn btn-primary btn--orange btn-inline hvr-float-shadow">Go back</a>

            <a href="{{prev}}"
                class="btn btn-primary btn--orange btn-inline hvr-float-shadow {% if prev=='' %}disabled{% endif %}">Previous</a>

            <a href="{{next}}"
                class="btn btn-primary btn--orange btn-inline hvr-float-shadow {% if next=='' %}disabled{% endif %}">Next</a>
        </div>

        <div class="col-12 d-sm-none text-center">
            <a href="{{ url_for('index') }}" class="btn btn-primary btn--orange btn-inline hvr-float-shadow">Home</a>

            <a href="{{request.referrer}}" class="btn btn-primary btn--orange btn-inline hvr-float-shadow">Go back</a>
        </div>

        <div class="col-12 d-sm-none text-center">
            <a href="{{prev}}"
                class="btn btn-primary btn--orange btn-inline hvr-float-shadow {% if prev=='' %}disabled{% endif %}">Previous</a>

            <a href="{{next}}"
                class="btn btn-primary btn--orange btn-inline hvr-float-shadow {% if next=='' %}disabled{% endif %}">Next</a>
        </div>
    </div>
</section>

{% endblock %}