{% extends 'base.html' %}

{% block content %}

<!-- Search section -->
<section class="container-fluid search-container">
    <div class="row">
        
    {% if recipes %}
    
        {% for recipe in recipes %}
            <div class="col-sm-6 col-lg-4 col-xl-3 card-pos">
                <div class="card">                   
                    <img class="card-img-top" src="{{recipe.img_link}}" alt="Recipe image">

                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <a href="{{ url_for('view', db_id=recipe._id, collection='recipes') }}" class="btn btn-link">{{recipe.title}}</a>
                        </h5>

                        <p>Viewed: {{recipe.view_stat}} times</p>

                        <div class="card-button">
                            <a href="#" class="btn btn-primary btn--orange">Edit</a>
                            <a href="#" class="btn btn-primary btn--orange">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    {% elif recipe_categories %}
    
        {% for category in recipe_categories %}
            <div class="col-sm-6 col-lg-4 col-xl-3 card-pos">
                <div class="card">        
                    <img class="card-img-top" src="{{category.img_link}}" alt="Category image">

                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <a href="{{ url_for('search', collection='recipes', find=category.name) }}" class="btn btn-link">{{category.name}}</a>
                        </h5>

                        <div class="card-button">
                            <a href="#" class="btn btn-primary btn--orange">Edit</a>
                            <a href="#" class="btn btn-primary btn--orange">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% elif appliances %}

        {% for appliance in appliances %}
            <div class="col-sm-6 col-lg-4 col-xl-3 card-pos">
                <div class="card">
                    <img class="card-img-top" src="{{appliance.img_link}}" alt="Appliance image">

                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <a href="{{ url_for('view', db_id=appliance._id, collection='appliances') }}" class="btn btn-link">{{appliance.brand}} {{appliance.model}}</a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    
    {% elif appliance_categories %}

        {% for category in appliance_categories %}
            <div class="col-sm-6 col-lg-4 col-xl-3 card-pos">
                <div class="card">        
                    <img class="card-img-top" src="{{category.img_link}}" alt="Category image">

                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <a href="{{ url_for('search', collection='appliances', find=category.name) }}" class="btn btn-link">{{category.name}}</a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endif %}

    </div>
</section>

{% endblock %}
