{% extends 'base.html' %}

{% block content %}

<!-- Search section -->
<section class="container-fluid search-container">
    <div class="row">
        {% for recipe in recipes %}        
        <div class="col-sm-6 col-lg-4 col-xl-3 card-pos">
            <div class="card">
                <img class="card-img-top" src="{{recipe.img_link}}" alt="Recipe image">

                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a href="#" class="btn btn-link">{{recipe.title}}</a>
                    </h5>

                    <p>Viewed: {{recipe.view_stat}} times</p>

                    <div class="card-button">
                        <a href="#" class="btn btn-primary btn--orange">Edit</a>
                        <a href="#" class="btn btn-primary btn--orange">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
